* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    background: linear-gradient(#180161, #4f1787);
    color: #d6e3ee;
}

/* HEADER */
header {
    background-color: #180161;
    width: 100%;
    padding: 0;
    margin: 0;
}

.logo {
    width: 15%;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 25%;
    margin: 5px;
    padding: 5px 0;
}

.logo h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0;
    color: #fb773c;
}

.item {
    width: 25%;
}

.item a {
    font-size: 1em;
    text-align: center;
    margin: 4px;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #4f1787;
    color: white;
}

.item a:hover {
    background-color: #fb773c;
    color: #1f316f;
}

.search-box {
    width: 15%;
}

.search-box input {
    width: 80%;
    border: none;
    border-radius: 30px 0 0 30px;
    height: 2rem;
}

.search-box button {
    width: 10%;
    border: none;
    border-radius: 0 30px 30px 0;
    height: 2rem;
}

.login {
    width: 15%;
}

.login a {
    color: white;
    font-size: 1.1em;
    margin: 0;
    padding: 0.5em;
    text-decoration: none;
}

.login a:hover {
    color: #42474a;
    border: none;
    border-radius: 8px;
    background-color: #fb773c;
    font-weight: 500;
}

/* HEADER */

/* NAV */
nav {
    width: 100%;
}

.menu {
    background-color: #4f1787;
    margin: 0;
    padding: 0;
}

.groupmenu {
    width: 85%;
}

.menu div > li {
    list-style-type: none;
}

.menu div > li > a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    display: block;
}

.menu div > li > a:hover {
    background-color: #fb773c;
    color: #1f316f;
    cursor: pointer;
}

.menu > div {
    margin: auto;
}

.groupmenu > div {
    margin-left: auto;
}

.imenu:hover .iimenu {
    display: block !important;
    z-index: 99;
}

.iimenu > li > a {
    text-decoration: none;
}

.iimenu > li {
    padding: 10px;
    list-style-type: none;
    border-top: 0px;
    background-color: rgb(48, 48, 48);
}

.iimenu li a {
    color: white;
    display: block;
}

.iimenu {
    position: absolute;
    display: none !important;
    padding: 0;
    margin: 0;
}

.iimenu > li:hover {
    background: #fb773c;
}

.iimenu > li:hover > a {
    background-color: #fb773c;
    color: #1f316f;
}

/* NAV */

/* MAIN */
.color-icon {
    color: yellow;
}

.movies {
    margin: auto;
    align-items: start;
    justify-content: space-between;
    width: 74%;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.movies::-webkit-scrollbar {
    display: none;
}

.movie a {
    margin: 0;
    padding: 0;
}

.hover-img {
    position: relative;
}

@keyframes hoverImgAnimation {
    0% {
        bottom: 100%;
    }

    100% {
        bottom: 0%;
    }
}

.overlay {
    opacity: 0;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.hover-img:hover .overlay {
    animation: hoverImgAnimation 0.5s ease;
    opacity: 1;
    color: #d6e3ee;
}

.overlay .overlay-text p:first-child {
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 1rem 0.5rem 0;
}
.overlay .overlay-text p {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0.5rem;
}

.overlay .overlay-text {
    position: absolute;
    top: 30%;
    left: 15%;
    text-align: start;
    font-weight: bold;
}

.movies .movie {
    min-width: 24%;
    text-align: center;
    padding: 0.5rem;
    position: relative;
}

.movies .movie div img {
    width: 100%;
}

.name a {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #d6e3ee;
}

.name:hover a {
    color: #fb773c;
}

.movie p {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    font-weight: bolder;
    padding: 0.5rem 0;
}

/* MAIN */

/*FOOTER*/

footer {
    width: 100%;
    background-color: #180161;
}

.foot {
    font-size: 0.7rem;
    width: 60%;
    justify-content: center;
}

.foot a {
    color: yellow;
}

.foot img {
    width: 6em;
    margin: 1em;
}

/* FOOTER */
