* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    background: linear-gradient(#180161, #4f1787, #180161);
    color: #d6e3ee;
    width: 100%;
}

/* HEADER */
header {
    background-color: #180161;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.header-container {
    width: 70%;
}

.logo {
    width: 20%;
    margin: 0;
    padding: 0;
}

.logo a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.logo img {
    width: 25%;
    margin: 5px;
    padding: 5px 0;
}

.logo h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0;
    color: #fb773c;
}

.item {
    width: 30%;
}

.item a {
    font-size: 1em;
    text-align: center;
    margin: 4px;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #4f1787;
    color: white;
}

.item a:hover {
    background-color: #fb773c;
    color: #1f316f;
}

.search-box {
    width: 30%;
}

.search-box input {
    width: 100%;
    margin: 0;
    padding: 0 0.5rem;
    background-color: #efefef;
    height: 2.5rem;
    font-size: 1.3rem;
    border: none;
    border-right: none;
    border-radius: 0 8px 8px 0;
}

.search-box input:focus {
    outline: none;
}

.search-box input::-webkit-search-cancel-button {
    cursor: pointer;
}

.search-box #search-button {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-left: none;
    border-radius: 8px 0 0 8px;
    background-color: #efefef;
    color: black;
}

.search-box #search-button:focus {
    outline: none;
}
.login {
    width: 20%;
}

.login a {
    color: white;
    font-size: 1.1em;
    margin: 0;
    padding: 0.5em;
    text-decoration: none;
}

.login a:hover {
    color: #42474a;
    border: none;
    border-radius: 8px;
    background-color: #fb773c;
    font-weight: 500;
}

/* HEADER */

/* NAV */
nav {
    display: block;
    width: 100%;
    position: fixed;
    top: 82px;
    left: 0;
    overflow: hidden;
    z-index: 99;
    margin: 0;
    padding: 0;
    background-color: #4f1787;
}

.nav-container {
    width: 70%;
}

.menu {
    width: 100%;
    margin: 0;
    padding: 0;
}

.groupmenu {
    width: 100%;
}

.menu div > li {
    list-style-type: none;
}

.menu div > li > a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    display: block;
}

.menu div > li > a:hover {
    background-color: #fb773c;
    color: #1f316f;
    cursor: pointer;
}

.menu > div {
    margin: auto;
}

.groupmenu > div {
    margin-left: auto;
}

/* NAV */

/* MAIN */

main {
    margin-top: 135px;
}

.color-icon {
    color: yellow;
}

.slideshow-container {
    overflow: hidden;
    width: 60%;
    margin: auto;
}

.slides {
    display: none;
}

.slides img {
    margin: 0;
    padding: 1rem 0 0;
    width: 100%;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.km-banner {
    width: 70%;
    margin: auto;
    padding: 0;
}

.poster-km > div {
    margin: 0;
    padding: 0 0.5rem 1rem;
    width: 33.3%;
}

.poster-km img {
    width: 100%;
    border-radius: 8px;
}

.movies {
    margin: auto;
    align-items: start;
    justify-content: start;
    width: 65%;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.movies::-webkit-scrollbar {
    display: none;
}

.movie a {
    margin: 0;
    padding: 0;
}

.hover-img {
    position: relative;
}

@keyframes hoverImgAnimation {
    0% {
        bottom: 100%;
    }

    100% {
        bottom: 0%;
    }
}

.overlay {
    opacity: 0;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.hover-img:hover .overlay {
    animation: hoverImgAnimation 0.5s ease;
    opacity: 1;
    color: #d6e3ee;
}

.overlay .overlay-text p:first-child {
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 1rem 0.5rem 0;
}
.overlay .overlay-text p {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0.5rem;
}

.overlay .overlay-text {
    position: absolute;
    top: 30%;
    left: 15%;
    text-align: start;
    font-weight: bold;
}

.movies .movie {
    min-width: 24%;
    max-width: 24%;
    text-align: center;
    padding: 0.5rem;
    position: relative;
}

.movie img {
    width: 100%;
    border-radius: 7px;
    border: 1px solid #808080;
}

.name {
    margin: 0;
    padding: 0.5rem 1rem 0;
}

.name a {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #d6e3ee;
}

.name:hover a {
    color: #fb773c;
}

.movie p {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    font-weight: bolder;
    padding: 0.5rem 0;
}

/* MAIN */

/*FOOTER*/

footer {
    background-color: #180161;
    width: 100%;
}

.foot {
    font-size: 0.7rem;
    width: 60%;
    justify-content: center;
}

.foot a {
    color: yellow;
}

.foot img {
    width: 6em;
    margin: 1em;
}

/* FOOTER */

/* RESPONSIVE */

@media only screen and (max-width: 430px) {
    header {
        justify-content: start;
    }
    .header-container {
        width: 100%;
        justify-content: start;
    }
    .logo {
        margin: 0;
        padding: 0;
    }
    .logo h1 {
        display: none;
    }
    .logo img {
        padding: 0;
        margin-left: 0.2rem;
        width: 60%;
    }

    .item {
        width: 15%;
        display: block;
        margin: 0;
        padding: 0;
    }

    .item a {
        display: block;
        margin: 0;
        border-radius: 2px;
        padding: 0.4rem;
        font-size: 0.5rem;
        text-align: start;
        text-wrap: wrap;
    }
    .item a:first-child {
        margin: 0.3rem 0;
    }

    .search-box {
        margin: 0;
        padding: 0;
    }

    .search-box #search-button {
        display: none;
    }
    .search-box input {
        border-radius: 15px;
        height: 1rem;
        width: 100%;
        font-size: 0.7rem;
    }

    .nav-container {
        display: none;
    }

    main {
        margin-top: 55px;
    }

    .slideshow-container {
        width: 100%;
    }
    .movies {
        width: 100%;
    }
    .movie div {
        min-width: 50%;
    }
    .foot {
        width: 100%;
    }
}

@media only screen and (max-width: 1351px) {
    .nav-container {
        display: none;
    }
    .slideshow-container {
        width: 90%;
    }
    .movies {
        width: 90%;
    }
}

@media only screen and (max-width: 1680px) {
    .header-container {
        width: 90%;
    }
    .nav-container {
        width: 90%;
    }
    .slideshow-container {
        width: 70%;
    }
    .movies {
        width: 70%;
    }
}
