* {
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    background: linear-gradient(#180161, #4f1787, #180161);
    color: #d6e3ee;
    width: 100%;
}
body.modal-open {
    overflow: hidden;
}

/* HEADER */
header {
    background-color: #180161;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.header-container {
    width: 70%;
}

.logo {
    width: 20%;
    margin: 0;
    padding: 0;
}

.logo a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.logo img {
    width: 25%;
    margin: 5px;
    padding: 5px 0;
}

.logo h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0;
    color: #fb773c;
}

.item {
    width: 30%;
}

.item a {
    font-size: 1em;
    text-align: center;
    margin: 4px;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #4f1787;
    color: white;
}

.item a:hover {
    background-color: #fb773c;
    color: #1f316f;
}

.search-box {
    width: 30%;
}

.search-box input {
    width: 100%;
    margin: 0;
    padding: 0 0.5rem;
    background-color: #efefef;
    height: 2.5rem;
    font-size: 1.3rem;
    border: none;
    border-right: none;
    border-radius: 0 8px 8px 0;
}

.search-box input:focus {
    outline: none;
}

.search-box input::-webkit-search-cancel-button {
    cursor: pointer;
}

.search-box #search-button {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-left: none;
    border-radius: 8px 0 0 8px;
    background-color: #efefef;
    color: black;
}

.search-box #search-button:focus {
    outline: none;
}
.login {
    width: 20%;
}

.login a {
    color: white;
    font-size: 1.1em;
    margin: 0;
    padding: 0.5em;
    text-decoration: none;
}

.login a:hover {
    color: #42474a;
    border: none;
    border-radius: 8px;
    background-color: #fb773c;
    font-weight: 500;
}

/* HEADER */

/* NAV */
nav {
    display: block;
    width: 100%;
    position: fixed;
    top: 82px;
    left: 0;
    overflow: hidden;
    z-index: 99;
    margin: 0;
    padding: 0;
    background-color: #4f1787;
}

.nav-container {
    width: 70%;
}

.menu {
    width: 100%;
    margin: 0;
    padding: 0;
}

.groupmenu {
    width: 100%;
}

.menu div > li {
    list-style-type: none;
}

.menu div > li > a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    display: block;
}

.menu div > li > a:hover {
    background-color: #fb773c;
    color: #1f316f;
    cursor: pointer;
}

.menu > div {
    margin: auto;
}

.groupmenu > div {
    margin-left: auto;
}

/* NAV */

/* MAIN */

main {
    margin-top: 160px;
}

.active {
    display: block !important;
}

section.container {
    width: 500px;
    height: auto;
    background-color: #6420aa;
    padding: 0;
    border: 1px solid gray;
    border-radius: 5px;
    margin: auto;
}

/* Phần ul tab */
.tab {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
}
.tab li {
    width: 50%;
    text-align: center;
}

.tab li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #d6e3ee;
    font-size: 1.5rem;
}

.tab li a.active {
    background-color: #fb773c;
    color: #0e1111;
    font-weight: 500;
}

.tab li:first-child a.active {
    border-radius: 5px 0 0 0;
}

.tab li:last-child a.active {
    border-radius: 0 5px 0 0;
}

/* Phần nội dung tab */

.tab-content > div {
    display: none;
}

.login-section {
    margin: 3rem;
}

.tab-title {
    border-top: 1px solid gray;
    margin: auto;
    padding: 1rem 0 0;
    font-size: 2rem;
    text-align: center;
}

.input-box p.info {
    font-size: 1.3rem;
    padding: 0;
    margin: 0.5rem 3rem;
}

.input-box p.info > i {
    text-indent: 0.5rem;
    font-size: 1rem;
}

.input-box input {
    width: 400px;
    height: 1.6rem;
    font-size: 1.3rem;
    margin: 0 3rem;
}

.input-box input::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remember > div {
    justify-content: start;
}

.remember label {
    cursor: pointer;
}

.remember a {
    display: block;
    text-decoration: none;
    color: #d6e3ee;
    margin-left: 10rem;
}

input#save-info {
    width: auto;
    margin: 0.5rem 0.5rem 0.5rem 3rem;
}

.confirm button {
    cursor: pointer;
    width: 400px;
    margin: 1rem 3rem 3rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
}

.confirm button:hover {
    background-color: #fb773c;
}
/* MAIN */

/*FOOTER*/

footer {
    margin-top: 20rem;
    background-color: #180161;
    width: 100%;
}

.foot {
    font-size: 0.7rem;
    width: 60%;
    justify-content: center;
}

.foot a {
    color: yellow;
}

.foot img {
    width: 6em;
    margin: 1em;
}

/* FOOTER */

/* RESPONSIVE */

/* Mobile */
@media only screen and (max-width: 740px) {
    .header-container {
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        width: 20%;
        margin: 0;
        padding: 0;
    }

    .logo h1 {
        display: none;
    }

    .logo a {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .logo img {
        padding: 0;
        margin: 0.5rem 0 0;
        width: 40%;
    }

    .item {
        width: 15%;
        display: block;
        margin: 0;
        padding: 0;
    }

    .item a {
        display: block;
        margin: 0;
        border-radius: 2px;
        padding: 0.4rem;
        font-size: 0.5rem;
        text-align: start;
        text-wrap: wrap;
    }
    .item a:first-child {
        margin: 0.3rem 0;
    }

    .search-box {
        margin: 0;
        padding: 0;
    }

    .search-box #search-button {
        display: none;
    }
    .search-box input {
        border-radius: 15px;
        height: 1rem;
        width: 100%;
        font-size: 0.7rem;
    }

    .nav-container {
        display: none;
    }

    main {
        margin-top: 55px;
    }

    .slideshow-container {
        width: 100%;
    }
    .movies {
        width: 100%;
    }
    .movie div {
        min-width: 50%;
    }
    .foot {
        width: 100%;
    }
}

/* Tablet */
@media only screen and (max-width: 1351px) {
    .nav-container {
        display: none;
    }
    .header-container {
        width: 100%;
    }
    .slideshow-container {
        width: 90%;
    }
    .movies {
        width: 90%;
    }
}

/* Big Table */
@media only screen and (max-width: 1690px) {
    .nav-container {
        width: 100%;
    }
    .header-container {
        width: 100%;
    }
    .slideshow-container {
        width: 90%;
    }
    .movies {
        width: 90%;
    }
}
