* {
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    background: linear-gradient(#180161, #4f1787, #180161);
    color: #d6e3ee;
    width: 100%;
}

/* HEADER */
header {
    background-color: #180161;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.header-container {
    width: 70%;
}

.logo {
    width: 20%;
    margin: 0;
    padding: 0;
}

.logo a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.logo img {
    width: 25%;
    margin: 5px;
    padding: 5px 0;
}

.logo h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0;
    color: #fb773c;
}

.item {
    width: 30%;
}

.item a {
    font-size: 1em;
    text-align: center;
    margin: 4px;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #4f1787;
    color: white;
}

.item a:hover {
    background-color: #fb773c;
    color: #1f316f;
}

.search-box {
    width: 30%;
}

.search-box input {
    width: 100%;
    margin: 0;
    padding: 0 0.5rem;
    background-color: #efefef;
    height: 2.5rem;
    font-size: 1.3rem;
    border: none;
    border-right: none;
    border-radius: 0 8px 8px 0;
}

.search-box input:focus {
    outline: none;
}

.search-box input::-webkit-search-cancel-button {
    cursor: pointer;
}

.search-box #search-button {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-left: none;
    border-radius: 8px 0 0 8px;
    background-color: #efefef;
    color: black;
}

.search-box #search-button:focus {
    outline: none;
}
.login {
    width: 20%;
}

.login a {
    color: white;
    font-size: 1.1em;
    margin: 0;
    padding: 0.5em;
    text-decoration: none;
}

.login a:hover {
    color: #42474a;
    border: none;
    border-radius: 8px;
    background-color: #fb773c;
    font-weight: 500;
}

.show-nav {
    display: none;
}

#show-button {
    display: block;
    padding: 1rem;
    margin: 0;
    font-size: 1.5rem;
    color: #d6e3ee;
}

/* HEADER */

/* NAV */
nav {
    display: block;
    width: 100%;
    position: fixed;
    top: 82px;
    left: 0;
    overflow: hidden;
    z-index: 99;
    margin: 0;
    padding: 0;
    background-color: #4f1787;
}

.nav-container {
    width: 70%;
}

.menu {
    width: 100%;
    margin: 0;
    padding: 0;
}

.groupmenu {
    width: 100%;
}

.menu div > li {
    list-style-type: none;
}

.menu div > li > a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    display: block;
}

.menu div > li > a:hover {
    background-color: #fb773c;
    color: #1f316f;
    cursor: pointer;
}

.menu > div {
    margin: auto;
}

.groupmenu > div {
    margin-left: auto;
}

.nav-mobile-container {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
}

#close-nav-mobile {
    display: block;
    position: fixed;
    top: 0;
    right: 1rem;
    font-size: 5rem;
    text-decoration: none;
    color: #d6e3ee;
}

.nav-mobile-container ul div {
    padding: 5rem 0 0;
    flex-direction: column;
    align-items: end;
}

.nav-mobile-container ul div li {
    width: 100%;
    text-align: end;
}

.nav-mobile-container ul div li a {
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    font-size: 1.5rem;
}
/* NAV */

/* MAIN */
main {
    margin-top: 160px;
    color: black;
}
section {
    width: 100%;
}

.container {
    width: 65%;
    margin: auto;
    background-color: #ecf2ff;
    border-radius: 5px;
}
.form-section {
    width: 80%;
    margin: auto;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 1rem;
}

h1.div-title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    text-transform: uppercase;
}
h2.section-title {
    font-size: 1.5rem;
    text-wrap: nowrap;
    padding: 1rem;
}

.date-input {
    display: none;
}
label {
    display: block;
}

.time-input {
    display: none;
}
.select-div {
    width: 60%;
    position: relative;
}
.select-div select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.3rem;
}
.select-date {
    width: 60%;
    overflow: auto;
    flex-wrap: wrap;
}
.select-date label {
    font-size: 1.5rem;
    padding: 0.7rem;
    margin: 0 0.5rem;
    background-color: #d6e3ee;
    border-radius: 5px;
}
label {
    cursor: pointer;
    user-select: none;
}

.select-ticket {
    width: 60%;
}
.select-ticket input {
    display: none;
}
.select-ticket label {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-right: 1rem;
    background-color: #d6e3ee;
}
.select-ticket input:checked + label {
    background-color: #fb773c;
}

.date-input:checked + label {
    background-color: #fb773c;
}
.select-time {
    width: 60%;
    overflow: auto;
    flex-wrap: wrap;
}
.select-time label {
    font-size: 1.5rem;
    padding: 0.7rem;
    margin: 0.5rem;
    background-color: #d6e3ee;
    border-radius: 5px;
}

.time-input:checked + label {
    background-color: #fb773c;
}
.select-pos {
    width: 60%;
}
.seat {
    display: none;
}
.row-pos {
    font-size: 1.5rem;
    padding: 1rem;
}
.row > div > label {
    display: block;
    background-color: #d6e3ee;
    padding: 0.5rem 1rem;
    margin: auto;
    margin-right: 0.5rem;
    border: none;
    border-radius: 3px;
}
.row > div > input:checked + label {
    background-color: #fb773c;
}

.confirm-section {
    justify-content: space-between;
    font-size: 1.5rem;
}
.confirm-section > div {
    width: 70%;
    justify-content: space-around;
}
.ticket-number {
    font-weight: 500;
}
.total-price {
    font-weight: 500;
}

.confirm-btn {
    display: block;
    width: 30%;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #d6e3ee;
    border: 1px solid gray;
    border-radius: 5px;
}
.confirm-btn:hover {
    cursor: pointer;
    background-color: #fb773c;
}
/* MAIN */

/*FOOTER*/

footer {
    margin-top: 10rem;
    width: 100%;
    background-color: #180161;
}

.foot {
    font-size: 0.7rem;
    width: 60%;
    justify-content: center;
}

.foot a {
    color: yellow;
}

.foot img {
    width: 6em;
    margin: 1em;
}

/* FOOTER */

/* RESPONSIVE */
/* Mobile */
@media only screen and (max-width: 1400px) {
    .header-container {
        width: 100%;
        height: 70px;
        justify-content: space-between;
    }

    .logo {
        width: 30%;
        margin: 0;
        padding: 0;
    }

    .logo img {
        display: block;
        margin: 0;
        padding: 0;
        max-width: 70px;
        max-height: 70px;
    }

    .logo h1 {
        display: none;
    }

    .logo a {
        height: auto;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .item {
        display: none;
    }

    .search-box {
        display: none;
        width: 50%;
        margin: auto;
        padding: 0;
    }

    .search-box #search-button {
        display: none;
    }
    .search-box input {
        width: 100%;
        border-radius: 15px;
        height: 2rem;
        font-size: 1.3rem;
    }

    .login {
        display: none;
    }
    .show-nav {
        width: 20%;
        text-align: center;
        display: block;
    }

    .nav-container {
        display: none;
    }

    main {
        margin-top: 90px;
    }

    section {
        width: 100% !important;
    }
    .container {
        width: 100%;
    }
    .form-section {
        width: 95%;
    }
    .section-title {
        width: 40%;
        font-size: 1.3rem !important;
        text-wrap: wrap;
    }
    .select-date {
        width: 60% !important;
        flex-wrap: nowrap;
        overflow: auto;
        width: 60% !important;
        justify-content: space-between;
    }
    .select-date label {
        text-wrap: nowrap;
        padding: 0.2rem 0.5rem;
    }
    .select-time {
        width: 60% !important;
        flex-wrap: nowrap;
        overflow: auto;
        width: 60% !important;
        justify-content: space-evenly;
    }
    .select-time label {
        text-wrap: nowrap;
        padding: 0.2rem 0.5rem;
    }

    .select-ticket {
        flex-direction: column;
        justify-content: end;
    }
    .select-ticket label {
        font-size: 1.3rem !important;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .seat-div {
        flex-direction: column !important;
        width: 100%;
    }
    .seat-div > h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
    .select-pos {
        width: 100% !important;
    }
    .row {
        width: 100%;
    }
    .row > p {
        width: 25%;
        font-size: 1.2rem;
        margin: 0;
        text-align: center;
    }
    .row > div {
        justify-content: space-between;
        width: 80%;
        overflow: auto;
    }

    .confirm-section {
        font-size: 1.3rem !important;
        padding-bottom: 2rem;
    }
    .confirm-section > div {
        width: 50%;
        flex-direction: column;
        align-items: start;
        margin: 0;
    }
    .confirm-section > div > p {
        margin: 0;
        margin-bottom: 0.5rem;
    }
    .confirm-btn {
        width: 50%;
        text-wrap: nowrap;
        font-size: 1.3rem;
    }

    footer {
        margin-top: 10rem;
    }
    .foot {
        width: 100%;
    }
}

/* RESPONSIVE */
