* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    background: linear-gradient(#180161, #4f1787, #180161);
    color: #d6e3ee;
    width: 100%;
}

/* HEADER */
header {
    background-color: #180161;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.logo {
    width: 15%;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 25%;
    margin: 5px;
    padding: 5px 0;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0;
    color: #fb773c;
}

.item {
    width: 25%;
}

.item a {
    font-size: 1em;
    text-align: center;
    margin: 4px;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #4f1787;
    color: white;
}

.item a:hover {
    background-color: #fb773c;
    color: #1f316f;
}

.search-box {
    width: 15%;
}

.search-box input {
    width: 80%;
    border: none;
    border-radius: 30px 0 0 30px;
    height: 2rem;
}

.search-box button {
    width: 10%;
    border: none;
    border-radius: 0 30px 30px 0;
    height: 2rem;
}

.login {
    width: 15%;
}

.login a {
    color: white;
    font-size: 1.1em;
    margin: 0;
    padding: 0.5em;
    text-decoration: none;
}

.login a:hover {
    color: #42474a;
    border: none;
    border-radius: 8px;
    background-color: #fb773c;
    font-weight: 500;
}

/* HEADER */

/* NAV */
nav {
    width: 100%;
    position: fixed;
    top: 91px;
    left: 0;
    overflow: hidden;
    z-index: 99;
    margin: 0;
    padding: 0;
    max-width: inherit;
}

.menu {
    background-color: #4f1787;
    margin: 0;
    padding: 0;
}

.groupmenu {
    width: 85%;
}

.menu div > li {
    list-style-type: none;
}

.menu div > li > a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    display: block;
}

.menu div > li > a:hover {
    background-color: #fb773c;
    color: #1f316f;
    cursor: pointer;
}

.menu > div {
    margin: auto;
}

.groupmenu > div {
    margin-left: auto;
}

.imenu:hover .iimenu {
    display: block !important;
    z-index: 99;
}

.iimenu > li > a {
    text-decoration: none;
}

.iimenu > li {
    padding: 10px;
    list-style-type: none;
    border-top: 0px;
    background-color: rgb(48, 48, 48);
}

.iimenu li a {
    color: white;
    display: block;
}

.iimenu {
    position: absolute;
    display: none !important;
    padding: 0;
    margin: 0;
}

.iimenu > li:hover {
    background: #fb773c;
}

.iimenu > li:hover > a {
    background-color: #fb773c;
    color: #1f316f;
}

/* NAV */

/* MAIN */

main {
    margin-top: 142px;
}

.job-info {
    width: 65%;
    margin: auto;
    color: white;
    padding: 2rem 2rem 0 2rem;
}

.job-info h1 {
    color: gold;
    background-color: #4f1787;
    border-radius: 10px;
    padding: 1rem;
}

.staff12,
.staff34,
.staff56 {
    display: flex;
}

.staff12 > div,
.staff34 > div,
.staff56 > div {
    width: 50%;
    padding: 2rem;
    margin: 1rem;
    background-color: #4f1787;
    border-radius: 10px;
}

.register-form {
    text-align: center;
    padding: 0 2rem 2rem 2rem;
}

.register-form h1 {
    color: gold;
}

.register-form a {
    text-decoration: none;
    color: aqua;
}

.register-form a:hover {
    text-decoration: underline;
}

.hotline a {
    padding: 1rem;
}

.email a {
    padding: 2rem;
}

/* MAIN */

/*FOOTER*/

footer {
    margin-top: 2rem;
    width: 100%;
    background-color: #180161;
}

.foot {
    font-size: 0.7rem;
    width: 60%;
    justify-content: center;
}

.foot a {
    color: yellow;
}

.foot img {
    width: 6em;
    margin: 1em;
}

/* FOOTER */
